<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo_104/blob/main/Semana3_Actividad1_Equipo104.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Semana 3 - Actividad 1**

<img src="https://static.wikia.nocookie.net/tecdemonterrey/images/1/1b/Logo_Tec_azul.png/revision/latest?cb=20190219041656&path-prefix=es" width="230" />

Maestría en Inteligencia Artificial Aplicada

**Datos generales**
---
EQUIPO 104

**Integrantes:**
* Eddie Guadalupe Elorza Ruiz | **A01793547**
* Yves Turley Macias Vargas. | **A00813752**


>Materia: Ciencia y analítica de datos (Gpo 10)

>Profesor Titular: Jobish Vallikavungal

>Profesor Tutor: Victoria Guerrero Orozco

04 de octubre 2022

-----

# **Parte 1: Fundamentos de bases de datos**


# 1.   Fundamentos de bases de datos y para ciencia de datos. 

Las bases de datos son un sistema que permite recopilar información y estructurar datos, guardados en la memoria de una computadora o en la nube al que se puede acceder de varias maneras. Normalmente es controlada por un sistema de gestión de bases de datos, existen diferentes tipos de bases de datos, las más utilizadas comúnmente son las relacionales y no relacionales.

  Hoy en día, la ciencia de datos tiene una importancia de alto impacto para las empresas, permitiendo el incremento de acciones para la mejora constante en la calidad de sus servicios, a través de los datos, ya sea como recopilar, analizar, limpiar y visualizar. Actualmente la industria necesita de los datos, mismos que pertenecen a la vida cotidiana del ser humano, desde el almacenamiento de información, música, audio y demás.

Independiente de todo lo anterior, los datos sin procesar no generar valor alguno, por lo que los científicos de datos se encargan de dar solución a esta problemática mediante herramientas tecnológicas que proporcionan la ayuda idónea que muchas empresas no sabían que necesitaban, permitiendo optimizar la toma de decisiones y la forma en la que se comunican con sus clientes.

La ciencia de datos tiene un futuro por delante gracias a los avances de inteligencia artificial y al aprendizaje automático que han hecho los procesos de datos más eficientes.

# 2.   Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.

Al hablar de los tipos de sistemas de gestión de datos, podemos hacer énfasis en un almacén de datos, el cual está diseñado para la recepción y puesta en marcha de actividades de business intelligence. Entre estas se encuentra la centralización y consolidación de un gran número de datos almacenados, donde al ejecutar una serie de registros y acciones que darán paso a la mejora en la toma de decisiones a nivel empresarial.
<br>

El registro histórico que se genera gracias a un almacén de datos nos abrirá paso a un valor significativo en cuanto a su análisis. Así mismo trae consigo 4 beneficios clave para brindar un beneficio general: orientado al tema, integrado, no volátil y variante de tiempo. Gracias a lo anterior, deducimos que un almacén de datos está diseñado para realizar acciones de manera rápida y efectiva. Para satisfacer las necesidades específicas de la organización, un almacén de datos contará con una arquitectura (Simple; simple con un área de preparación; hub y habló; areneros) previa que será determinada conforme a las necesidades de la organización.
<br>

Conforme al paso del tiempo los almacenes de datos incrementaban su eficiencia, evolucionando a amplias infraestructuras para el completo análisis de información. Tal es el caso de un almacén de datos en la nube, donde la diferencia es que el almacenamiento sucede en la nube. Es importante hacer mención en que al hacer uso de este tipo de almacén de datos tiene ciertas limitantes en comparación con un almacenamiento loca. Otro claro ejemplo es el almacén de datos moderno, en donde se abordan diferentes necesidades al ofrecer una forma inteligente para gestionar los tipos de datos, este mismo es capaz de optimizar los flujos de trabajo que sean necesarios para los datos.
 
<br>



>**Bibliografía**

Amazon. (sin fecha). Data Warehouse. Recuperado 03 de octubre 2022. https://aws.amazon.com/data-warehouse/

Oracle. (sin fecha). What is a Data Warehouse. Recuperado 03 de octubre 2022. https://www.oracle.com/database/what-is-a-data-warehouse/

Oracle. (sin fecha). What is Database. Recuperado 03 de octubre 2022.
https://www.oracle.com/mx/database/what-is-database/

Metwalli. S. (2020). Databases 101: Introduction to Databases for Data Scientists. Recuperado 03 de octubre 2022 https://towardsdatascience.com/databases-101-introduction-to-databases-for-data-scientists-ee18c9f0785d


Amazon. (sin fecha). What is data science. Recuperado 03 de octubre 2022.
https://aws.amazon.com/es/what-is/data-science/

-----

# **Parte 2: Selección y limpieza de los Datos en Python**

Primero importamos librerías

In [ ]:
import pandas as pd
import numpy as np

Cargamos los datos en una variable y los mostramos en el dataframe

In [ ]:
data = ('https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv')
df = pd.read_csv(data)
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

* Asignamos nombres a las columnas del dataframe, mediante un arreglo.
   * 'ID': 'ID' = ID del cliente

 * 'Amount': 'X1' = Monto de la transacción

 * 'Gender': 'X2' = Género del cliente (1 = masculino; 2 = femenino)

 * 'Education': 'X3' = Educación del cliente (1 = posgrado; 2 = universidad; 3 = secundaria; 4 = otros)

 * 'Marital': 'X4' = Estado civil del cliente (1 = casado; 2 = soltero; 3 = otros)
 'Age': 'X5' = Edad del cliente (en años)

 * 'His1 - His6': 'X6 - X11' = Historial de pagos de los clientes (de abril a septiembre de 2005)

 * 'Bill1 - Bill6': 'X12 - X17' = Monto de la factura de los clientes (de abril a septiembre de 2005)

 * 'Pay1 - Pay6': 'X18 - X23' = Monto de pago de los clientes (de abril a septiembre de 2005)

 * 'Default': 'Y' = Predicción de incumplimiento de pago (0 = no; 1 = sí)

In [ ]:
df.columns = ['ID','Amount','Gender','Education','Marital','Age','His1','His2','His3','His4','His5','His6','Bill1','Bill2','Bill3','Bill4','Bill5','Bill6','Pay1','Pay2','Pay3','Pay4','Pay5','Pay6','Default']
df.head()

,ID,Amount,Gender,Education,Marital,Age,His1,His2,His3,His4,...,Bill4,Bill5,Bill6,Pay1,Pay2,Pay3,Pay4,Pay5,Pay6,Default
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

Comprobando los valores nulos en el dataframe, si es True hay valores nulos y si es False no hay valores nulos

In [ ]:
df.isnull().values.any()

True

Visualizamos los valores nulos realizando una suma y ordenando de mayor a menor

In [ ]:
df.isnull().sum().sort_values(ascending=False)

Bill5        17
His5         16
Bill4        15
His6         14
Bill3        13
Bill1        11
Pay5         11
Pay4         11
Bill2        11
Bill6        10
Pay2          9
His4          9
Pay1          8
Pay3          8
His3          7
His2          5
Age           5
Pay6          5
Default       3
His1          3
Marital       2
Education     2
Gender        1
Amount        0
ID            0
dtype: int64

Eliminamos los valores nulos

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isna().values.any()
df

,ID,Amount,Gender,Education,Marital,Age,His1,His2,His3,His4,...,Bill4,Bill5,Bill6,Pay1,Pay2,Pay3,Pay4,Pay5,Pay6,Default
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

Revizamos los valores unicos de cada columna

In [ ]:
df.nunique()

ID           29958
Amount          81
Gender           2
Education        7
Marital          4
Age             56
His1            11
His2            11
His3            11
His4            11
His5            10
His6            10
Bill1        22696
Bill2        22319
Bill3        22002
Bill4        21524
Bill5        20982
Bill6        20580
Pay1          7938
Pay2          7895
Pay3          7513
Pay4          6936
Pay5          6890
Pay6          6935
Default          2
dtype: int64

Imprimir la cantidad de valores nulos por columna

In [ ]:
df.isnull().sum().sum()

0

Eliminamos la columna ID ya que no es necesaria para el analisis de datos.

En este caso se hizo por buena practica de eliminar columnas que no agreguen valor, para que sea mas facil de procesar. En nuestro caso la base de datos es pequeña pero al tener una muy grande, se eliminan para que sea mas facil de soportar.

In [ ]:
df.drop(['ID'], axis=1, inplace=True)
df

,Amount,Gender,Education,Marital,Age,His1,His2,His3,His4,His5,...,Bill4,Bill5,Bill6,Pay1,Pay2,Pay3,Pay4,Pay5,Pay6,Default
0,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

Eliminar los valores duplicados en el dataframe

In [ ]:
df.drop_duplicates(inplace=True)
df

,Amount,Gender,Education,Marital,Age,His1,His2,His3,His4,His5,...,Bill4,Bill5,Bill6,Pay1,Pay2,Pay3,Pay4,Pay5,Pay6,Default
0,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

Imprimir la cantidad de valores nulos por columna

In [ ]:
df.isnull().sum()

Amount       0
Gender       0
Education    0
Marital      0
Age          0
His1         0
His2         0
His3         0
His4         0
His5         0
His6         0
Bill1        0
Bill2        0
Bill3        0
Bill4        0
Bill5        0
Bill6        0
Pay1         0
Pay2         0
Pay3         0
Pay4         0
Pay5         0
Pay6         0
Default      0
dtype: int64

En esta parte usamos una funcion la cual nos da los valores estadisticos del data frame.

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Amount,29924.0,167520.040102,129752.405790,10000.0,50000.00,140000.0,240000.00,1000000.0
Gender,29924.0,1.604030,0.489066,1.0,1.00,2.0,2.00,2.0
Education,29924.0,1.853562,0.790536,0.0,1.00,2.0,2.00,6.0
Marital,29924.0,1.551731,0.521980,0.0,1.00,2.0,2.00,3.0
Age,29924.0,35.486365,9.216050,21.0,28.00,34.0,41.00,79.0
His1,29924.0,-0.017143,1.123676,-2.0,-1.00,0.0,0.00,8.0
His2,29924.0,-0.132168,1.196334,-2.0,-1.00,0.0,0.00,8.0
His3,29924.0,-0.165018,1.195061,-2.0,-1.00,0.0,0.00,8.0
His4,29924.0,-0.219423,1.167479,-2.0,-1.00,0.0,0.00,8.0
His5,29924.0,-0.265172,1.131362,-2.0,-1.00,0.0,0.00,8.0
His6,29924.0,-0.289968,1.148426,-2.0,-1.00,0.0,0.00,8.0
Bill1,29924.0,51306.196932,73696.632133,-165580.0,3594.75,22431.0,67283.50,964511.0
Bill2,29924.0,49256.244319,71232.455820,-69777.0,3008.00,21278.5,64136.00,983931.0
Bill3,29924.0,47085.672337,69406.628370,-157264.0,2708.25,20124.5,60252.50,1664089.0
Bill4,29924.0,43328.358174,64384.797053,-170000.0,2360.00,19075.5,54606.50,891586.0
Bill5,29924.0,40374.655160,60845.663966,-81334.0,1786.00,18129.0,50262.50,927171.0
Bill6,29924.0,38933.961269,59602.390766,-339603.0,1261.75,17115.5,49276.25,961664.0
Pay1,29924.0,5670.954117,16577.163271,0.0,1000.00,2103.0,5009.00,873552.0
Pay2,29924.0,5932.351791,23068.235846,0.0,850.00,2010.0,5000.00,1684259.0
Pay3,29924.0,5234.274028,17626.488093,0.0,390.00,1805.5,4520.75,896040.0
Pay4,29924.0,4835.264771,15684.289854,0.0,300.00,1500.0,4019.50,621000.0
Pay5,29924.0,4806.840529,15293.404169,0.0,261.00,1500.0,4055.25,426529.0
Pay6,29924.0,5226.543310,17798.241979,0.0,132.75,1500.0,4000.00,528666.0
Default,29924.0,0.221194,0.415058,0.0,0.00,0.0,0.00,1.0

Dentro la información de la columna Education, se observa que hay 14 registros con valor 0, los cuales no corresponden a ninguna de las categorías, por lo que se procede a eliminarlos.

In [ ]:
# Education (1 = graduate school; 2 = university; 3 = high school; 4 = others). 

df['Education'].value_counts()

2.0    13998
1.0    10551
3.0     4907
5.0      280
4.0      123
6.0       51
0.0       14
Name: Education, dtype: int64

Eliminar los valores que no son 1, 2, 3, 4 en la columna Education

In [ ]:
df = df[df['Education'].isin([1,2,3,4])]
df['Education'].value_counts()

2.0    13998
1.0    10551
3.0     4907
4.0      123
Name: Education, dtype: int64

Dentro la información de la columna Marital, se observa que hay 54 registros con valor 0, los cuales no corresponden a ninguna de las categorías, por lo que se procede a eliminarlos.

In [ ]:
# Marital status (1 = married; 2 = single; 3 = others).
df['Marital'].value_counts()

2.0    15762
1.0    13446
3.0      317
0.0       54
Name: Marital, dtype: int64

Eliminar los valores que no son 1, 2, 3 en la columna Marital

In [ ]:
df = df[df['Marital'].isin([1,2,3])]
df['Marital'].value_counts()

2.0    15762
1.0    13446
3.0      317
Name: Marital, dtype: int64

En esta parte hacemos una descripcion de los valores generales estadisticos de nuestro data frame

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Amount,29525.0,167586.915495,129949.308480,10000.0,50000.0,140000.0,240000.0,1000000.0
Gender,29525.0,1.603489,0.489181,1.0,1.0,2.0,2.0,2.0
Education,29525.0,1.815817,0.710414,1.0,1.0,2.0,2.0,4.0
Marital,29525.0,1.555326,0.518094,1.0,1.0,2.0,2.0,3.0
Age,29525.0,35.464894,9.211354,21.0,28.0,34.0,41.0,79.0
His1,29525.0,-0.015377,1.124378,-2.0,-1.0,0.0,0.0,8.0
His2,29525.0,-0.129687,1.198784,-2.0,-1.0,0.0,0.0,8.0
His3,29525.0,-0.162235,1.197971,-2.0,-1.0,0.0,0.0,8.0
His4,29525.0,-0.217036,1.170547,-2.0,-1.0,0.0,0.0,8.0
His5,29525.0,-0.262930,1.134378,-2.0,-1.0,0.0,0.0,8.0
His6,29525.0,-0.286401,1.150629,-2.0,-1.0,0.0,0.0,8.0
Bill1,29525.0,51040.733446,73431.676318,-165580.0,3578.0,22327.0,66762.0,964511.0
Bill2,29525.0,49019.791804,70983.290797,-69777.0,2999.0,21097.0,63695.0,983931.0
Bill3,29525.0,46876.160373,69181.736762,-157264.0,2691.0,20071.0,59875.0,1664089.0
Bill4,29525.0,43188.485961,64248.931314,-170000.0,2360.0,19033.0,54362.0,891586.0
Bill5,29525.0,40299.458933,60748.415439,-81334.0,1802.0,18121.0,50149.0,927171.0
Bill6,29525.0,38921.457003,59568.782279,-339603.0,1298.0,17144.0,49241.0,961664.0
Pay1,29525.0,5656.997494,16582.350284,0.0,1000.0,2100.0,5006.0,873552.0
Pay2,29525.0,5906.059983,23117.007703,0.0,836.0,2009.0,5000.0,1684259.0
Pay3,29525.0,5207.054361,17600.680879,0.0,390.0,1800.0,4500.0,896040.0
Pay4,29525.0,4837.977985,15729.494233,0.0,300.0,1500.0,4026.0,621000.0
Pay5,29525.0,4802.575140,15259.468149,0.0,264.0,1500.0,4064.0,426529.0
Pay6,29525.0,5192.428349,17678.172176,0.0,150.0,1500.0,4000.0,528666.0
Default,29525.0,0.223133,0.416354,0.0,0.0,0.0,0.0,1.0

En las preguntas es necesario explorar cuales son los datos mas valiosos agregaremos la funcion de matriz de correlación.

In [ ]:
df.corr()
#print(df)

,Amount,Gender,Education,Marital,Age,His1,His2,His3,His4,His5,...,Bill4,Bill5,Bill6,Pay1,Pay2,Pay3,Pay4,Pay5,Pay6,Default
Amount,1.000000,0.024570,-0.243787,-0.109405,0.144005,-0.272639,-0.297033,-0.287152,-0.268156,-0.250087,...,0.293944,0.295774,0.290215,0.195650,0.177738,0.210595,0.203394,0.217232,0.219838,-0.154999
Gender,0.024570,1.000000,0.012551,-0.030176,-0.091971,-0.057702,-0.070941,-0.066426,-0.060444,-0.054941,...,-0.022625,-0.017861,-0.017721,0.000321,-0.001546,-0.008823,-0.002114,-0.001939,-0.002124,-0.039377
Education,-0.243787,0.012551,1.000000,-0.147988,0.187427,0.124555,0.142770,0.135624,0.128130,0.114665,...,-0.014977,-0.018644,-0.015694,-0.046136,-0.038770,-0.052194,-0.043353,-0.049602,-0.053869,0.049286
Marital,-0.109405,-0.030176,-0.147988,1.000000,-0.417799,0.017741,0.022814,0.031871,0.031976,0.034809,...,-0.023865,-0.026143,-0.022212,-0.004835,-0.007981,-0.002772,-0.013815,-0.002723,-0.005952,-0.026770
Age,0.144005,-0.091971,0.187427,-0.417799,1.000000,-0.039518,-0.050460,-0.053405,-0.049806,-0.053864,...,0.049834,0.048315,0.046735,0.025188,0.022366,0.029412,0.021437,0.021379,0.019109,0.014115
His1,-0.272639,-0.057702,0.124555,0.017741,-0.039518,1.000000,0.672952,0.575672,0.540343,0.510971,...,0.178692,0.180303,0.176995,-0.080164,-0.070509,-0.070860,-0.064623,-0.059739,-0.059931,0.326474
His2,-0.297033,-0.070941,0.142770,0.022814,-0.050460,0.672952,1.000000,0.766134,0.661202,0.621418,...,0.221098,0.220099,0.217961,-0.081829,-0.059387,-0.056704,-0.048150,-0.038781,-0.037714,0.264413
His3,-0.287152,-0.066426,0.135624,0.031871,-0.053405,0.575672,0.766134,1.000000,0.776320,0.685230,...,0.226810,0.224710,0.221683,0.000868,-0.067346,-0.053853,-0.046976,-0.037567,-0.037088,0.235829
His4,-0.268156,-0.060444,0.128130,0.031976,-0.049806,0.540343,0.661202,0.776320,1.000000,0.819400,...,0.245292,0.242216,0.238379,-0.010156,-0.002709,-0.070386,-0.044617,-0.035236,-0.027866,0.216823
His5,-0.250087,-0.054941,0.114665,0.034809,-0.053864,0.510971,0.621418,0.685230,0.819400,1.000000,...,0.271041,0.268912,0.261484,-0.006784,-0.003561,0.008073,-0.059535,-0.035195,-0.023864,0.204972
His6,-0.236430,-0.044043,0.102577,0.034365,-0.049370,0.476065,0.574067,0.631606,0.715977,0.816290,...,0.265367,0.289570,0.283644,-0.001388,-0.005429,0.004804,0.017990,-0.048399,-0.026376,0.187133
Bill1,0.284286,-0.034298,0.004558,-0.024947,0.054638,0.187156,0.234324,0.208231,0.202348,0.206539,...,0.861165,0.831321,0.804722,0.140269,0.098723,0.156601,0.157411,0.164833,0.175570,-0.019452
Bill2,0.277189,-0.031641,0.000743,-0.022454,0.052387,0.189799,0.234628,0.237237,0.225429,0.226679,...,0.893335,0.861371,0.833737,0.280688,0.100363,0.150782,0.146226,0.155150,0.170467,-0.013859
Bill3,0.282269,-0.025426,-0.004014,-0.026156,0.051859,0.179662,0.223319,0.227233,0.244637,0.242913,...,0.925039,0.885594,0.855481,0.244338,0.317907,0.130848,0.142216,0.177268,0.179300,-0.013661
Bill4,0.293944,-0.022625,-0.014977,-0.023865,0.049834,0.178692,0.221098,0.226810,0.245292,0.271041,...,1.000000,0.940427,0.902290,0.232961,0.207976,0.300068,0.128749,0.159695,0.174821,-0.009630
Bill5,0.295774,-0.017861,-0.018644,-0.026143,0.048315,0.180303,0.220099,0.224710,0.242216,0.268912,...,0.940427,1.000000,0.947176,0.218467,0.181779,0.252313,0.293029,0.140548,0.161826,-0.006415
Bill6,0.290215,-0.017721,-0.015694,-0.022212,0.046735,0.176995,0.217961,0.221683,0.238379,0.261484,...,0.902290,0.947176,1.000000,0.201849,0.173638,0.234398,0.249974,0.307326,0.115262,-0.005563
Pay1,0.195650,0.000321,-0.046136,-0.004835,0.025188,-0.080164,-0.081829,0.000868,-0.010156,-0.006784,...,0.232961,0.218467,0.201849,1.000000,0.286619,0.253470,0.199933,0.149286,0.186114,-0.073885
Pay2,0.177738,-0.001546,-0.038770,-0.007981,0.022366,-0.070509,-0.059387,-0.067346,-0.002709,-0.003561,...,0.207976,0.181779,0.173638,0.286619,1.000000,0.245960,0.179476,0.182115,0.157636,-0.058367
Pay3,0.210595,-0.008823,-0.052194,-0.002772,0.029412,-0.070860,-0.056704,-0.053853,-0.070386,0.008073,...,0.300068,0.252313,0.234398,0.253470,0.245960,1.000000,0.215588,0.160430,0.160392,-0.056351
Pay4,0.203394,-0.002114,-0.043353,-0.013815,0.021437,-0.064623,-0.048150,-0.046976,-0.044617,-0.059535,...,0.128749,0.293029,0.249974,0.199933,0.179476,0.215588,1.000000,0.151320,0.156843,-0.057064
Pay5,0.217232,-0.001939,-0.049602,-0.002723,0.021379,-0.059739,-0.038781,-0.037567,-0.035236,-0.035195,...,0.159695,0.140548,0.307326,0.149286,0.182115,0.160430,0.151320,1.000000,0.154684,-0.056236
Pay6,0.219838,-0.002124,-0.053869,-0.005952,0.019109,-0.059931,-0.037714,-0.037088,-0.027866,-0.023864,...,0.174821,0.161826,0.115262,0.186114,0.157636,0.160392,0.156843,0.154684,1.000000,-0.053733
Default,-0.154999,-0.039377,0.049286,-0.026770,0.014115,0.326474,0.264413,0.235829,0.216823,0.204972,...,-0.009630,-0.006415,-0.005563,-0.073885,-0.058367,-0.056351,-0.057064,-0.056236,-0.053733,1.000000

----
# **Parte 3: Preparación de los datos**

>Con base en los resultados de tu libreta de Google Colab de la Parte 2 responde detalladamente las siguientes preguntas: 

 **1. ¿Qué datos considero mas importantes? ¿Por qué?**
"Actualmente nos encontramos en un pre procesamiento, por ello en esta etapa todos los datos son importantes, debido a que estamos en una exploracion y una limpieza. Es sencillo como cientifico de datos darse cuenta de algunos parametros que quizas no agreguen valor a la investigacion pero no por eso habra que eliminarnos, hasta que no tengamos una evidencia o un razonamiento para nuestra accion. 

Aun asi, de elegir creemos que "amount" y "gender" tienen un peso bastante notorio en este dataframe. 


 **2. ¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?**

Si en efecto. Se eliminaron los datos nulos. Esto debido a que la naturaleza del dataframe no aporta valor los datos nulos. Fue facil eliminarnos debido a que es un dataframe pequeño pero en situaciones de big data, esto se volveria mucho mas retador.

 **3. ¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?**

Si, la realidad es que el analisis o formas de analisis son propuestas por el cientifico de datos pero los datos para poder ser interpretados por humanos es necesario que sean acomodados y presentados de una forma que sea mas al gusto del cientfico de datos . Estos procesos son necesarios para poder dar una interpretación adecuada y definir que herramientas o procesos seguiremos en el analisis.


 **4. ¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.**

En el mundo del big data, es raro tener un dataframe unificado. Asi que esta respuesta tenderia a un si. En nuestro caso particular nuesto dataframe que es de una manipulacion sencilla No fue el caso. Venia facil de preparar y moldear para hacer modelos. En muchos otros modelados sera necesario unificar distintos formatos para tener un solo dataframe.

 **5. ¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?**

 Tras haber explorado previamente un poco la base de datos. El equipo reflexiono sobre los elementos o mejor dicho parametros que valdrian la pena ser substraidos del trabajo. La conclusion de los elementos que no agregan valor fue la de eliminamr la columna de id, esta columna no agrega valor a nuestra informacion. Solo es una etiqueta para poder llevar un control de los usuarios. Esto ejercicio lo podemos ver claramente en el mapa de correlacion, donde no tendria caso tener dicha columna .